line-length = 100
target-version = "py38"
indent-width = 4
exclude = [
    "venv",
    "__pycache__",
    "tests/manual/test_recording.wav",
    "scripts",
]

[lint]
select = [
    "E",  # pycodestyle errors
    "F",  # pyflakes
    "I",  # import sorting
    "B",  # bugbear
    "PLR",  # pylint refactor checks
]
ignore = []

[lint.pylint]
max-statements = 50

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-format = true
